.about {
  &-flower {
    position: absolute;
    top: 0;
    right: 0;

    @media(max-width: 575px) {
      width: 250px;
    }
  }

  .h2 {
    position: relative;
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 1;

    &.text--md {
      @media(max-width: 1400px) {
        font-size: 16px;
      }
    }
  }

  &Gal {

    &Slide {
      transition: opacity .2s linear;

      &:hover {
        opacity: .85;
      }

      img {
        height: 600px;
        width: 100%;
        object-fit: cover;
        border-radius: 48px;

        @media(max-width: 1400px) {
          height: 550px;
        }

        @media(max-width: 1199px) {
          height: 430px;
        }

        @media(max-width: 991px) {
          border-radius: 40px;
        }

        @media(max-width: 575px) {
          height: 85vw;
        }
      }
    }

    &Slider {
      &--sm {
        .aboutGalSlide {
          img {
            height: 360px;

            @media(max-width: 575px) {
              height: 65vw;
            }
          }
        }
      }
    }
  }
}

.flag-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  width: 47px;

  @media(max-width: 991px) {
    width: 32px;
  }
}