.map {
  iframe {
    border-radius: 48px;
    height: 360px;
    width: 100%;
  }
}

.contacts {
  .contactsArrow {
    position: absolute;
    top: 10px;
    right: 10px;

    img {
      @media(max-width: 1400px) {
        width: 50px;
      }
    }
  }

  .p-49 {
    @media(max-width: 1400px) {
      padding: 42px;
    }

    @media(max-width: 991px) {
      padding: 32px 45px;
    }
  }

  .map {
    iframe {
      border-radius: 48px;
      height: 360px;
      width: 100%;

      @media(max-width: 991px) {
        border-radius: 40px;
        height: 200px;
      }


    }
  }
}

.contactsOrderWrap {
  transition: background-color .2s linear;

  &:hover {
    background-color: var(--orange);
  }
}