.farmersGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;

  @media(max-width: 991px) {
    column-gap: 15px;
    row-gap: 20px;
  }

  .shopCard {
    grid-column: 3 span;

    @media(max-width: 1199px) {
      grid-column: 4 span;
    }

    @media(max-width: 991px) {
      grid-column: 6 span;
    }

    @media(max-width: 575px) {
      border-radius: 12px;
    }

    &Image {
      @media(max-width: 575px) {
        border-radius: 12px;
      }

      img {
        @media(max-width: 575px) {
          height: 35vw;
          border-radius: 12px;
        }
      }
    }

    &Content {
      @media(max-width: 575px) {
        padding: 16px 16px 20px;
      }
    }

    &Descr {
      @media(max-width: 575px) {
        font-size: 12px;
        line-height: 20px;
      }
    }

    &Title {
      @media(max-width: 575px) {
        font-size: 16px;
        line-height: 24px;
        font-family: var(--font-family);
        font-weight: 400 !important;
      }
    }

    &Subtitle {
      ul {
        @media(max-width: 575px) {
          row-gap: 4px;
          column-gap: 4px;
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
  }
}

.catsSlider-sm-2 {
  @media(max-width: 575px) {
    padding-right: 15px;
    overflow: visible;
  }

  .shopCard {   

    @media(max-width: 575px) {
      border-radius: 12px;
    }

    &Image {
      @media(max-width: 575px) {
        border-radius: 12px;
      }

      img {
        @media(max-width: 575px) {
          height: 35vw;
          border-radius: 12px;
        }
      }
    }

    &Content {
      @media(max-width: 575px) {
        padding: 16px 16px 20px;
      }
    }

    &Descr {
      @media(max-width: 575px) {
        font-size: 12px;
        line-height: 20px;
      }
    }

    &Title {
      @media(max-width: 575px) {
        font-size: 16px;
        line-height: 24px;
        font-family: var(--font-family);
        font-weight: 400 !important;
      }
    }

    &Subtitle {
      ul {
        @media(max-width: 575px) {
          row-gap: 4px;
          column-gap: 4px;
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
  }
}