.finance {
  &-balance {
    border: 1px solid var(--brown50);
    border-radius: 24px;
  }
}

.finance-balance-sum {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.03em;
  color: var(--celadon);

  span {
    font-size: 20px;
    line-height: 140%;
  }
}


.financeTable {
  border: 1px solid var(--brown50);
  border-radius: 24px;
  overflow: hidden;
}

.financeHead {
  background: var(--brown20);
  display: grid;
  grid-template-columns: repeat(10, 1fr);

  .col {
    grid-column: 2 span;
    padding: 16px 12px;
    font-size: 14px;
    line-height: 140%;
  }
}

.financeBody {
  ul {
    li {
      background-color: #fff;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      border-top: 1px solid var(--brown50);
      position: relative;

      .col {
        padding: 12px;
        grid-column: 2 span;
        font-size: 14px;
        line-height: 140%;

        &:nth-child(5) {
          padding-right: 38px;
        }

        &:nth-child(6) {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          padding: 0;

          button,
          a {
            padding: 12px;

            &:hover {
              opacity: .85;
            }
          }
        }
      }
    }
  }
}

.financeTableMd {}

.financeTableMdItem {
  border: 1px solid var(--brown50);
  background: var(--brown20);
  border-radius: 24px;
  overflow: hidden;
}

.financeTableMdItemHead {
  border-bottom: 1px solid var(--brown50);

}

.financeTableMdItemBody {
  background-color: #fff;

  .financeTableMdItemName {
    padding: 12px 12px 4px;
  }

  .financeTableMdItemFooter {
    padding: 12px;
  }
}

.financeTableMdItemDate {
  padding: 12px 8px 12px 12px;
}

.financeTableMdItemNumber {
  padding: 12px 8px;
}