.freeshop {
  &-filter {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    @media(max-width: 1199px){
      column-gap: 10px;
      row-gap: 10px;
    }
    @media(max-width: 991px){
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.freeshopItem {
  border-radius: 48px;
  padding: 24px;
  background: var(--white);
  height: 100%;

  h4 {
    font-size: 36px;
    line-height: 133%;
  }

  &Descr {
    margin-bottom: 12px;
    @media(max-width: 350px){
      font-size: 14px;
    }
  }
}

.freeshop-filter-item {
  @media(max-width: 991px){
    width: 100%;
  }
  .input-name {
    padding-left: 24px;
  }

  .formInput {
    height: 40px;
    max-width: 200px;
    font-size: 16px;
    @media(max-width: 1199px){
      max-width: 160px;
    }
    @media(max-width: 991px){
      max-width: 100%;
    }
  }

  .formSelect {
    width: 320px;
    height: 40px;
    font-size: 16px;
    @media(max-width: 1400px){
      width: 254px;
    }
    @media(max-width: 991px){
      width: 100%;
    }
  }
}

.freeshopItemR {
  width: 100%;
  display: flex;
  flex-direction: column;

  .button {
    margin-top: auto;
    height: 40px;
    font-size: 16px;
    @media(max-width: 350px){
      font-size: 14px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.freeshopItemImg {
  border-radius: 12px;
  min-width: 80px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0 4px 24px 0 rgba(64, 38, 17, 0.25);
}