.intro {
  padding-top: 40px;

  @media(max-width: 991px) {
    padding-top: 22px;
  }

  &Card {
    padding: 40px 32px;
    position: relative;
    min-height: 165px;

    &.bg-celadon-flowers {
      .introCard--no-visible {
        background: url('@img/bg/bg-celadon-flowers.svg') no-repeat center center / cover;
      }
    }

    &.bg-orange-flowers {
      .introCard--no-visible {
        background: url('@img/bg/bg-orange-flowers.svg') no-repeat center center / cover;
      }
    }

    &.bg-green-flowers {
      .introCard--no-visible {
        background: url('@img/bg/bg-green-flowers.svg') no-repeat center center / cover;
      }
    }

    &:hover {
      .introCard--no-visible {
        opacity: 1;
        visibility: visible;
      }
    }

    @media(max-width: 1400px) {
      min-height: 200px;
    }


    @media(max-width: 991px) {
      padding: 22px 33px;
      min-height: 180px;
    }
    @media(max-width: 767px){
      min-height: 150px;
    }

    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      color: var(--white);

      @media(max-width: 1400px) {
        font-size: 18px;
      }

      @media(max-width: 767px) {
        font-size: 20px;
      }
    }

    &Icon {
      width: 47px;
      flex-shrink: 0;
    }

    &--no-visible {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 48px;
      width: 100%;
      height: 100%;
      padding: 13px 40px;
      font-size: 14px;
      line-height: 19px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      letter-spacing: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s linear, visibility .2s linear;
    }
  }

  &Slider {
    height: 100%;
  }

  &Slide {
    border-radius: 48px;
    padding: 35px 44px 55px 45px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(max-width: 991px) {
      border-radius: 40px;
      padding: 32px 25px 120px 32px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(90deg, #1c1000 0%, #563200 35.1%, rgba(188, 109, 0, 0) 100%);
      opacity: 0.6;
      border-radius: 48px;

      @media(max-width: 991px) {
        border-radius: 40px;
      }
    }

    &Title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 128px;
      line-height: 94%;
      text-transform: uppercase;
      color: var(--white);
      opacity: .95;

      @media(max-width: 1500px) {
        font-size: 115px;
      }

      @media(max-width: 1199px) {
        font-size: 80px;
      }

      @media(max-width: 991px) {
        font-size: 48px;
        line-height: 117%;
      }
    }
  }

  .swiper-pagination {
    justify-content: flex-start;
    display: flex;
    position: relative;
    padding-left: 45px;
    padding-right: 45px;
    bottom: 50px;
  }
}