// modal
.modal {
  display: none;
  width: 640px;
  background-color: var(--background);
  border-radius: 48px;
  padding: 48px;
  color: var(--main-color);
  background-image: url('@img/modal/modal-flower.svg');
  background-repeat: no-repeat;
  background-position: top right;
  height: fit-content;

  @media(max-width: 991px) {
    padding: 32px;
    border-radius: 40px;
  }

  @media(max-width: 575px) {
    background-size: 300px;
  }

  .h3 {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 133%;
    text-transform: uppercase;
    color: var(--brown80);
    max-width: 430px;

    &.text-normal {
      text-transform: unset;
    }


    @media(max-width: 991px) {
      font-size: 24px;
      line-height: 100%;
      text-transform: unset;
    }

    @media(max-width: 575px) {
      max-width: calc(100% - 20px);
    }
  }

  .h5 {
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.02em;
    opacity: 0.8;

  }

  .is-close-btn {
    background: none;
    opacity: 1;
    right: 20px;
    top: 20px;

    &:hover {
      background-color: transparent;
    }
  }

  .f-button svg {
    stroke: var(--brown80);
  }
}

#modalThanks {
  .content {
    ul {
      list-style-type: decimal;
    }
  }
}

.reviews-thanks-logo {
  img {
    @media(max-width: 575px) {
      height: 115px;
      width: 100%;
      background-color: #fff;
      border-radius: 32px;
    }
  }
}