.profile {
  &Nav {
    border-bottom: 1px solid var(--brown50);

    @media(max-width: 991px) {
      border-bottom: none;
    }

    ul {
      display: flex;
      column-gap: 16px;

      @media(max-width: 1199px) {
        column-gap: 10px;
      }

      @media(max-width: 991px) {
        overflow-x: auto;
        column-gap: 4px;
      }

      @media(max-width: 575px) {
        margin-left: -12px;
        padding-left: 12px;
        margin-right: -12px;
        padding-right: 12px;
      }


      // @media(max-width: 991px) {
      //   flex-direction: column;
      // }

      li {
        a {
          display: flex;
          align-items: center;
          column-gap: 10px;
          color: var(--brown50);
          font-size: 18px;
          line-height: 28px;
          position: relative;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 12px;
          padding-bottom: 12px;
          white-space: nowrap;

          @media(max-width: 1199px) {
            font-size: 16px;
          }

          @media(max-width: 991px) {
            font-size: 18px;
            // border-bottom: 1px solid var(--brown50);
          }

          &::before {
            content: '';
            position: absolute;
            bottom: -1px;
            width: 100%;
            height: 2px;
            background-color: var(--brown80);
            left: 0;
            opacity: 0;
            transition: opacity .2s linear;
            @media(max-width: 991px){
              bottom: 0;
            }
          }

          &:hover {
            color: var(--brown80);

            &:before {
              opacity: 1;
            }

            svg {
              fill: var(--brown80);
            }
          }

          svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            fill: var(--brown50);
            stroke: transparent;
          }
        }

        &.active {
          a {
            color: var(--brown80);

            &::before {
              opacity: 1;
            }

            svg {
              fill: var(--brown80);
            }
          }
        }

        &.is-notify {
          a {
            position: relative;

            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 12px;
              left: 23px;

              width: 12px;
              height: 12px;
              border: 2px solid #fff;
              border-radius: 50%;
              background-color: var(--green);
            }
          }
        }
      }
    }
  }
}